body {
  background-color: #DBE2EF;
  margin-top: 10rem;
}

.gridButton {
  background-image: url("../assets/WoodBackgroundImg.jpg");
  border-color: #F9F7F7;
  border-radius: 8px;
  width: 6rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.setGridHeader {
  font-family: 'Secular One', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

.buttonHeader {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.tableSpacing {
  margin-bottom: 0.5rem;
}

.tdModal {
  border-style: inset;
}