body {
    background-color: #F9F7F7;
    margin: 0;
}

img {
    width: 35vw;
    height: auto;
}

.mainButton {
    --background: #275efe;
    --text: #fff;
    --font-size: 16px;
    --duration: .44s;
    /* --move-hover: -4px; */
    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
    --font-shadow: var(--font-size);
    padding: 16px 32px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    line-height: var(--font-size);
    border-radius: 24px;
    display: block;
    outline: none;
    appearance: none;
    border: none;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: .5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;

    &:hover {
        --y: var(--move-hover);
        --shadow: var(--shadow-hover);
    }
}